In [ ]:
#                                                     EJERCICIO 2

In [2]:
from IPython.display import IFrame  
ciaLink2="https://www.cia.gov/the-world-factbook/field/revenue-from-forest-resources/country-comparison" 
IFrame(ciaLink2, width=900, height=900)

In [3]:
# read web table into pandas DF
import pandas as pd

forestDFs=pd.read_html(ciaLink2, # link
                        header=0, # where is the header?
                        flavor='bs4')

In [4]:
# check object type 
type(forestDFs)

list

In [5]:
# check size
len(forestDFs)

1

In [6]:
# make a copy
forest=forestDFs[0].copy()

In [7]:
# here it is
forest

     Rank                   Country  % of GDP Date of Information
0       1           Solomon Islands     20.27           2018 est.
1       2                   Liberia     13.27           2018 est.
2       3                   Burundi     10.31           2018 est.
3       4             Guinea-Bissau      9.24           2018 est.
4       5  Central African Republic      8.99           2018 est.
..    ...                       ...       ...                 ...
199   200                      Guam      0.00           2018 est.
200   201             Faroe Islands      0.00           2017 est.
201   202                     Aruba      0.00           2017 est.
202   203            Virgin Islands      0.00           2017 est.
203   204                     Macau      0.00           2018 est.

[204 rows x 4 columns]

In [17]:
#1. Replace '%' by 'pct'
forest['% of GDP']=forest['% of GDP'].replace('.', 'pct')
forest

     Rank                   Country  % of GDP Date of Information
0       1           Solomon Islands     20.27           2018 est.
1       2                   Liberia     13.27           2018 est.
2       3                   Burundi     10.31           2018 est.
3       4             Guinea-Bissau      9.24           2018 est.
4       5  Central African Republic      8.99           2018 est.
..    ...                       ...       ...                 ...
199   200                      Guam      0.00           2018 est.
200   201             Faroe Islands      0.00           2017 est.
201   202                     Aruba      0.00           2017 est.
202   203            Virgin Islands      0.00           2017 est.
203   204                     Macau      0.00           2018 est.

[204 rows x 4 columns]